services:
  mysql:
    image: mysql:8
    container_name: mysql
    networks:
      - app-network
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "127.0.0.1:3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: ./backend
    container_name: spring-app
    networks:
      - app-network
    depends_on:
      - mysql
    expose:
      - "8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/${MYSQL_DATABASE}?allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_ROOT_PASSWORD}

  frontend:
    build: ./frontend
    container_name: frontend
    networks:
      - app-network
    expose:
      - "3000"

  nginx:
    image: nginx:alpine
    container_name: nginx
    networks:
      - app-network
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
      - frontend

networks:
  app-network:
    name: app-network
    driver: bridge

volumes:
  mysql_data:
