---
import Counter from '../components/Counter';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Proyecto PIME</title>
  </head>
  <body>
    <h1>Proyecto PIME</h1>
    <Counter client:load />
  </body>
</html>
